body{
  overflow-x: hidden;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 9997;
    transition: all 0.5s;
    padding: 15px;
    overflow-y: auto;

  }
  
  @media (max-width: 991px) {
    #header {
      width: 200px;
      background: #fff;
      border-right: 1px solid #e6e9ec;
      transition: 0.5s;
      left: -200px;
    }
  }

  .mobile-toggle {
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 9999;
    font-size: 50px;
    transition: all 0.4s;
    cursor: pointer;
    border-radius: 10px;
    padding: 5px;
    border: solid black;
    background-color: white;

  }


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.nav-menu {
    padding: 0;
    display: block;
  }
  
  .nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .nav-menu>ul>li {
    position: relative;
    white-space: nowrap;
  }
  
  .nav-menu a,
  .nav-menu a:focus {
    display: flex;
    align-items: center;
    color: #45505b;
    padding: 10px 18px;
    margin-bottom: 8px;
    transition: 0.3s;
    font-size: 15px;
    border-radius: 50px;
    background: #f2f3f5;
    height: 56px;
    width: 100%;
    overflow: hidden;
    transition: 0.3s;
  }
  
  .nav-menu a i,
  .nav-menu a:focus i {
    font-size: 20px;
  }
  
  .nav-menu a span,
  .nav-menu a:focus span {
    padding: 0 5px 0 7px;
    color: #45505b;
  }
  
  @media (min-width: 992px) {
  
    .nav-menu a,
    .nav-menu a:focus {
      width: 56px;
    }
  
    .nav-menu a span,
    .nav-menu a:focus span {
      display: none;
      color: #fff;
    }
  }
  

  
  .nav-menu a:hover,
  .nav-menu .active,
  .nav-menu .active:focus,
  .nav-menu li:hover>a {
    color: #fff;
    background: #bb1d05;
  }
  
  
  .nav-menu a:hover,
  .nav-menu li:hover>a {
    width: 100%;
    color: #fff;
  }
  
  .nav-menu a:hover span,
  .nav-menu li:hover>a span {
    display: block;
  }
  

  /*-----HERO-----------*/

  #hero{
    position: relative;
    margin-left: 20vw;
    margin-top: 20vh;
    width: 80vw;
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(235, 14, 14));
  }

#profile_pic{
    display: block;
    width: 300px;
    height: auto;
    border-style: solid;
    border-width: medium;
    border-radius: 150px;
    border-color: rgb(255, 255, 255);
    box-shadow: 5px 10px 8px #ee0000;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    animation-name: in-move;
    animation-duration: 3s;
}


@media (max-width: 991px) {
  #profile_pic {
    display: block;
    width: 150px;
    height: auto;
    border-style: solid;
    border-width: medium;
    border-radius: 75px;
    border-color: rgb(255, 255, 255);
    box-shadow: 5px 10px 8px #ee0000;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    animation-name: in-move;
    animation-duration: 3s;
  }
}

@keyframes in-move {
    0%   {opacity: 0.0; left:500px; top:0px;}
    100% {opacity: 1;left:0px; top:0px;}
  }


  .text-slider-items {
    display: none;
}


.scroll_backgr{
  width: 80%;
  margin-left: 20%;
  margin-top: 5vh;
  height: 400px;
  position: relative;
  opacity: 0;
  animation-name: in-move;
  animation-duration: 5s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

@media (max-width: 991px) {
  .scroll_backgr {
    width: 80%;
    margin-left: 20%;
    margin-top: 5vh;
    height: 200px;
    position: relative;
    opacity: 0;
    animation-name: in-move;
    animation-duration: 5s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
  }
}


.mask-scroll{
background-image: url(img/ScrollDown_v2.png);
height: 400px;
width: 100%;
z-index: 0;
position: absolute;
background-size: contain;

animation-name: scroll-move;
animation-duration: 4s;
animation-iteration-count: 5;
animation-fill-mode: forwards;
}

@media (max-width: 991px) {
  .mask-scroll {
    background-image: url(img/ScrollDown_v2.png);
    height: 200px;
    width: 100%;
    z-index: 0;
    position: absolute;
    background-size: contain;
    
    animation-name: scroll-move;
    animation-duration: 4s;
    animation-iteration-count: 5;
    animation-fill-mode: forwards;
  }
}
/* The animation code */
@keyframes scroll-move {
  0%   {left:0px; top:0px;}
  50%  { left:-10px; top:0px;}
  100% {left:0px; top:0px;}
}



/*-----about-----------*/

#about{
  position: relative;
  margin-left: 20vw;
  margin-top: 20vh;
  width: 80vw;
  background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(235, 14, 14));
}

/*---resume----*/

#resume{
  position: relative;
  margin-left: 20vw;
  margin-top: 10vh;
  width: 80vw;
  background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(235, 14, 14));
}

#resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #bb0505;
  position: relative;
}

#resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #fff;
  border: 2px solid #bb0505;
}

/*---Portofolio--*/
#portfolio{
  position: relative;
  margin-left: 20vw;
  margin-top: 10vh;
  width: 80vw;
  background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(255, 42, 42));

}

.project-card{
  border-style:double;
  border-width: 5px;
  border-radius: 20px;
  border-color: azure;
  max-width: 500px;
  padding: 0;
  
}

.project-card:hover{
  transition: 0.5s;
  transform: scale(1.05);
  box-shadow: 10px 5px rgb(172, 0, 0);
  cursor: pointer;
}

.project-card-details{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.425), rgba(255, 159, 159, 0.403));
}

.project-card:hover>.project-card-details{
  display: block;
}